<div class="affix-top sidebar">
  <ul class="nav nav-pills nav-stacked">
  {% for collection in site.collections %}
  {% assign docs = collection[1].docs | sort: 'order' %}
  <li>
    <h3 class="page-header">{{ collection[1].title }}</h3>
    <ul class="nav nav-pills nav-stacked">
    {% for doc in docs %}
      {% if page.url == doc.url %}
        {% assign c = "active" %}
      {% else %}
        {% assign c = "" %}
      {% endif %}

      <li class="{{ c }}">
        <a href="{{ site.basepath }}{{ doc.url }}">{{ doc.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </li>
  {% endfor %}
  </ul>
</div>
