<link rel="import" href="/acodemy.io/bower_components/polymer/polymer.html">

<polymer-element name="source-switcher" attributes="activeLanguage">
  <template>
    <style>
      :host {
        position: relative;
        display: block;
      }
      .buttons-container {
        position: absolute;
        right: 0;
        top: 0;
      }

      .buttons-container button {
        display: block;
        float: left;
        border: none;
        background: #ccc;
        outline: none;
        margin: 0;
        padding: 0.25em 0.5em;
        height: 2em;

        cursor: pointer;
        color: #eee;
      }

      .buttons-container button:nth-child(2) {
        border-bottom-left-radius: 0.5em;
      }

      .buttons-container button.active {
        background: #476F94;
        color: #fff;
      }
    </style>

    <div class="buttons-container">
      <template repeat="{{ language in languages }}">
        <button type="button"
                on-click="{{ selectLanguage }}"
                class="{{ {active: language === activeLanguage} | tokenList }}">
          {{ displayNames[language] }}
        </button>
      </template>
    </div>
    <div class="source-container">
      <content select="prism-js[language='{{ activeLanguage }}']"></content>
    </div>
  </template>
  <script>
    (function() {
      var switchers = [];
      var storageKey = 'source-switcher.preferences';
      var preferences = window.localStorage[storageKey];

      if (preferences) {
        preferences = JSON.parse(preferences);
      }
      else {
        preferences = {};
      }

      function getPreferenceKey(choices) {
        return choices.join(',');
      }

      function getPreference(choices) {
        var key = getPreferenceKey(choices);
        var preference = preferences[key];

        if (!preference) {
          preference = choices[0];
          savePreference(choices, preference);
        }

        return preference;
      }

      function savePreference(choices, preferedChoice) {
        var key = getPreferenceKey(choices);
        preferences[key] = preferedChoice;
        window.localStorage[storageKey] = JSON.stringify(preferences);

        switchers.forEach(function(switcher) {
          if (getPreferenceKey(switcher.languages) === key) {
            switcher.activeLanguage = preferedChoice;
          }
        });
      }

      Polymer('source-switcher', {
        activeLanguage: '',
        languages: [],
        displayNames: {
          coffeescript: 'coffee',
          javascript: 'js'
        },

        ready: function() {
          switchers.push(this);
          this.languages = [];
          var codeBlocks = this.querySelectorAll('prism-js[language]');

          for (var i = 0; i < codeBlocks.length; i++) {
            var codeBlock = codeBlocks[i];
            var language = codeBlock.attributes.getNamedItem('language').value;

            this.languages.push(language);
          }

          if (!this.activeLanguage && this.languages.length) {
            this.activeLanguage = getPreference(this.languages);
          }
        },

        selectLanguage: function(e, detail, sender) {
          var model = e.target.templateInstance.model;
          this.activeLanguage = model.language;
          savePreference(this.languages, this.activeLanguage);
        }
      });

    })();
  </script>
</polymer-element>
